/* working */
section[class="Slider_pictures"] {
    width: 100vw;
    height: 80vh;
    margin: auto;
}

/* working */
img[class="d-block"] {
    width: 100vw;
    height: 80vh;
    margin: auto;
}

/* working */
h1[class="title_h1"] {
    text-align: center;
    font-family: 'Henny Penny';
    font-size: 7.5em;
}

h2[class="title_of_explanation"] {
    text-align: center;
}

p[class="last_explanation_carnival_01"] {
    color: #9453a6;
}

p[class="last_explanation_carnival_02"] {
    color: #8cbf3f;
}

/* working */
div[class="short_explanation"] {
    width: 75%;
    margin: auto;
    box-shadow: 5px 10px 5px gray;
    border: 2px solid;
}

/* working */
h5[class="h5_photo_slider"] {
    font-family: 'Roboto',
        sans-serif;
    color: #f2cc0f;
}

/* working */
p[class="p_photo_slider"] {
    font-family: 'Roboto',
        sans-serif;
    color: #f2cc0f;
}

/* working */
div[id="carouselExampleIndicators"] {
    margin-top: 8vh;
}

/* working */
h2[class="Title_Area_Of_Advertisers"] {
    text-align: center;
    font-size: 5em;
    font-family: 'Henny Penny';

}

/* working */
div[class="Area_Of_Advertisers_001"] {
    text-align: center;
}

/* working */
@media (max-width: 768px) {
    div[id="carouselExampleIndicators"] {
        display: none;
    }

    /* working */
    h2[class="Title_Area_Of_Advertisers"] {
        position: relative;
        margin-top: -75%;
    }

    /* working */
    div[class="short_explanation"] {
        width: 95%;
        margin: auto;
        box-shadow: 2px 2px 2px gray;
        border: 2px solid;
    }

    /* working */
    h2[class="Title_Area_Of_Advertisers"] {
        position: relative;
        margin-top: 1em;

    }

    /* working */
    section[class="Slider_pictures"] {
        width: 0;
        height: 0;
        margin: 0;
    }
}

/* working */
@media (min-width: 768px) {
    div[class="header02"] {
        display: none;
    }



}